body {
  background: #2D9CDB;
  font-family: Fira Sans;
  font-style: normal;
}

article {
  display: flex;
}

.title {
  position: absolute;
  width: 65%;
  height: 20%;
  left: 32%;
  top: 20%;
  font-weight: 20px;
  font-size: 60px;
  color: #F2F2F2;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.subtitle {
  position: absolute;
  width: 20%;
  height: 10%;
  left: 34%;
  top: 52%;
  font-weight: bold;
  font-size: 120%;
  color: #F2F2F2;
}

.first-part-about-project {
  position: absolute;
  width: 20%;
  height: 10%;
  left: 34%;
  top: 38%;
  font-size: 95%;
  line-height: 130%;
  color: #F2F2F2;
}

.second-part-about-project {
  position: absolute;
  width: 20%;
  height: 10%;
  left: 34%;
  top: 58%;
  font-size: 95%;
  line-height: 130%;
  color: #F2F2F2;
}

.how-does-it-work {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 34%;
  top: 72%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-decoration-line: underline;
  color: #F2F2F2;
  opacity: 0.75;
}

.button-start {
  display: flex;
  position: absolute;
  width: 120px;
  height: 49,5px;
  left: 61%;
  top: 52%;
  color: #FFFFFF;
  background: linear-gradient(180deg, #29D64F 0%, #2EA644 51.93%, #1EB336 100%);
  box-shadow: 0px 5.14268px 8.57113px rgba(0, 0, 0, 0.15);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse;
  justify-content: center;
}

.array-on-button {
  z-index: -1;
  top: 2.5px;
  left: 90.25px;
  flex-direction: row-reverse;
  transform-origin: bottom;
  width: 35px;
  height: 35px;
  position: absolute;
  transform: rotate(45deg);
  background: linear-gradient(135deg, #29D64F 0%, #2EA644 51.93%, #1EB336 100%);
}

.enter {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 620px;
  top: 462px;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F2F2F2;
}

input {
  width: 200px;
  height: 25px;
  left: 620px;
  top: 482px;
background: #F2F2F2;
box-shadow: inset 0px -3px 5px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.enter-button {
  position: absolute;
  width: 59px;
  height: 30px;
  left: 55.7%;
  top: 60%;
  background: linear-gradient(180deg, #6FCF97 0%, #219653 99.99%);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 7px;

}

.enter-sign {
  position: absolute;
  right: 15%;
  top: 15%;
  color: #FFFFFF

}

.registration {
  position: absolute;
  left: 45%;
  top: 58.5%;
  font-size: 15px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #F2F2F2;
  opacity: 0.75;
}

.mail-for-bonus {
  position: absolute;
  left: 45%;
  top: 58.5%;
  weight: 100px;
  font-size: 15px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #F2F2F2;
  opacity: 0.75;
}

.registration-or-enter-title {
  position: absolute;
  width: 55px;
  height: 29px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #F2F2F2;
  left: 45%;
  top: 30%;
}

.enter {
  top: 40%;
  left: 45%;
}

.login {

}
.password
